*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5)),url("https://eskipaper.com/images/cool-city-skyline-wallpaper-1.jpg") 
    center no-repeat;
	background-size: cover;
	position: relative;
  overflow: hidden;
}
.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.quantum{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.quantum span{
	color: #b11226;
}


.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}
@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

p{
  color: #eee;
  font-family: "Roboto Cn", sans-serif;
}

red{
  color: #b11226
}